@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

:focus {
  outline: none;
}

.container {
  max-width: 1440px;
  padding: 20px 100px;
  margin: 0 auto;
}

.light_btn {
  font-weight: 600;
  cursor: pointer;
  transition: 200ms linear;
  padding: 12px 30px;
  border: 1px solid white;
  color: white;
  background: transparent;
  padding-top: 16px;
}
.light_btn:hover {
  color: black;
  background: #fff;
}
.light_btn:active {
  background: transparent;
  border: 1px solid #5c6779;
  color: #5c6779;
}

.dark_btn {
  font-weight: 600;
  cursor: pointer;
  transition: 200ms linear;
  padding: 12px 30px;
  border: 1px solid black;
  color: black;
  background: transparent;
  padding-top: 16px;
}
.dark_btn:hover {
  color: white;
  background: #000;
}
.dark_btn:active {
  background: transparent;
  border: 1px solid #5c6779;
  color: #5c6779;
}

body {
  font-family: "League Spartan", sans-serif;
  background: #fff;
  color: #9a7f66;
}

.header {
  background: #111111;
  padding-bottom: 120px;
}
.header .container {
  width: 100%;
  display: flex;
  justify-content: start;
}

.home {
  background: #111111;
}
.home .container {
  height: 650px;
  display: flex;
}
.home .left {
  height: 400px;
  color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.home .left div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home .left div h1 {
  font-size: 6rem;
  font-weight: 100;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}
.home .left div p {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 100;
}
.home .right {
  padding-bottom: 200px;
  color: #000;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  background: url("../pic/Bitmap.png") no-repeat center/cover;
  gap: 20px;
}
.home .right .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 120px;
  height: 110px;
  background: #fff;
}
.home .right .box h2 {
  font-size: 3rem;
  font-weight: 300;
}
.home .right .box p {
  font-size: 10px;
}

.enjoy {
  color: #111111;
  display: flex;
  flex-direction: column;
}
.enjoy .first {
  position: relative;
  top: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.enjoy .first-img {
  width: 540px;
  height: 720px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
}
.enjoy .first .title {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.enjoy .first .title img {
  width: 120px;
  margin-bottom: 40px;
}
.enjoy .first .title h2 {
  font-size: 4rem;
  max-width: 500px;
}
.enjoy .first .title p {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 300;
}
.enjoy .second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  position: relative;
  bottom: -80px;
}
.enjoy .second-img {
  width: 540px;
  height: 720px;
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.3), 0 4px 6px -2px rgba(255, 255, 255, 0.1);
}
.enjoy .second .title {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.enjoy .second .title img {
  width: 120px;
  margin-bottom: 40px;
}
.enjoy .second .title h2 {
  font-size: 4rem;
  max-width: 500px;
}
.enjoy .second .title p {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 300;
}

.slider {
  background: #111111;
}
.slider .container {
  display: flex;
  align-items: center;
  padding-top: 250px;
  padding-bottom: 250px;
  justify-content: space-between;
  color: #fff;
}
.slider .container .left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.slider .container .left img {
  width: 120px;
  margin-bottom: 40px;
}
.slider .container .left h2 {
  font-size: 4rem;
  max-width: 500px;
}
.slider .container .left p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
  max-width: 500px;
}
.slider .container .right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.slider .container .right .slide {
  display: flex;
  position: relative;
}
.slider .container .right .slide-img {
  width: 430px;
  height: 330px;
}
.slider .container .right .slide button {
  padding: 0 30px;
  background: #111111;
  border: none;
  cursor: pointer;
}
.slider .container .right .slide button:active {
  scale: 95%;
}
.slider .container .right .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 110px;
}
.slider .container .right .title h3 {
  font-weight: 600;
  font-size: 32px;
}
.slider .container .right .title p {
  font-weight: 300;
  max-width: 350px;
  line-height: 1.4rem;
}

.family {
  display: flex;
  margin: 120px 0;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.family .title {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
}
.family .title .first {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #111111;
}
.family .title .first h2 {
  font-weight: 600;
  font-size: 42px;
}
.family .title .first p {
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 400px;
  line-height: 1.6rem;
}
.family .title .second {
  display: flex;
  flex-direction: column;
  color: #111111;
  gap: 20px;
  letter-spacing: 3px;
}
.family .title .second .li_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 85%;
  position: relative;
  left: -100px;
}
.family .title .second .li_1 img {
  position: relative;
  left: -20px;
}
.family .title .second .li_2 {
  opacity: 70%;
  position: relative;
  left: -20px;
}
.family .title .second .li_3 {
  opacity: 40%;
  position: relative;
  left: -30px;
}

.footer_cont {
  background: url("../pic/Bitmap_6.png") no-repeat center/cover;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer_cont .container {
  display: flex;
  justify-content: space-between;
}
.footer_cont .container h2 {
  font-size: 3rem;
  color: #fff;
}

.footer {
  background: #111111;
}
.footer .container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-between;
  color: #fff;
}
.footer .container .title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .container .title li {
  font-weight: 100;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 80%;
}

@media (max-width: 1150px) {
  .home .container {
    flex-direction: column;
    height: 100%;
    gap: 200px;
    padding-bottom: 200px;
  }
  .home .container .left {
    width: 100%;
  }
  .home .container .right {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 65px 0;
  }
  .first {
    flex-direction: column;
  }
  .second {
    flex-direction: column;
  }
  .slider .container {
    flex-direction: column;
    gap: 150px;
    text-align: center;
  }
  .slider .container .right .title {
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }
  .family {
    flex-direction: column;
  }
  .family .second .li_1 {
    padding-left: 100px;
  }
  .family .second .li_1 img {
    display: none;
  }
  .footer_cont .container {
    flex-direction: column;
    gap: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 10px 20px;
  }
}
@media (max-width: 650px) {
  .container {
    padding: 0;
  }
  .header {
    padding-top: 30px;
    padding-left: 30px;
  }
  .home .container .left div h1 {
    font-size: 3rem;
  }
  .home .container .left div p {
    font-size: 1.4rem;
    max-width: 400px;
  }
  .title h2 {
    font-size: 2rem;
  }
}
.book {
  background: url("../pic/bg.png") no-repeat center/cover;
}
.book .container {
  padding-top: 20px;
  padding-bottom: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.book .container .left img {
  margin-bottom: 200px;
}
.book .container .left .title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}
.book .container .left .title h2 {
  font-weight: 300;
  font-size: 4.8rem;
}
.book .container .left .title p {
  font-size: 1.3rem;
  font-weight: 300;
  max-width: 450px;
  line-height: 1.6rem;
}
.book .container .right {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 50%;
  height: 100%;
  padding: 65px;
}
.book .container .right input {
  border: none;
  border-bottom: 1px solid #5c6779;
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
}
.book .container .right input::-moz-placeholder {
  padding: 0 10px;
}
.book .container .right input::placeholder {
  padding: 0 10px;
}
.book .container .right .error {
  border-bottom: 1px solid red;
  color: red;
}
.book .container .right .error::-moz-placeholder {
  color: red;
}
.book .container .right .error::placeholder {
  color: red;
}
.book .container .right .date {
  display: flex;
  gap: 50px;
  align-items: center;
}
.book .container .right .date span {
  color: #111111;
  font-size: 18px;
  margin-top: 25px;
}
.book .container .right .count {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  border-bottom: 1px solid #111111;
  padding: 0 30px;
  padding-bottom: 15px;
}
.book .container .right .count button {
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.book .container .right .count button:active {
  scale: 95%;
}
.book .container .right .count p {
  color: #111111;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1280px) {
  .book .container {
    flex-direction: column;
    width: 100%;
  }
  .book .container .right {
    width: 100%;
  }
  .book .container .left {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .book .container .right .date {
    gap: 10px;
  }
  .footer {
    font-size: 10px;
  }
  .footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer .container .title {
    gap: 5px;
  }
}
@media (max-width: 700px) {
  .book .container {
    padding: 20px;
  }
  .footer .container {
    padding: 40px 20px;
  }
}
@media (max-width: 530px) {
  .book .container {
    gap: 2px;
    padding: 0;
  }
  .book .container .right {
    padding: 25px;
  }
  .book .container .left .title h2 {
    font-size: 3.2rem;
  }
  .book .container .left .title p {
    font-size: 1rem;
    max-width: 350px;
  }
  .book .container .left a img {
    padding: 30px;
  }
  .footer .container {
    flex-direction: column;
    gap: 40px;
    font-size: 20px;
    align-items: center;
  }
  .footer .container .title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}/*# sourceMappingURL=main.css.map */