@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

// Colors
$color-cod: #111111;
$color-clay: #242b37;
$color-gray: #5c6779;
$color-beaver: #9a7f66;
$color-mirage: #17192b;

// Font Family
$ff: "League Spartan", sans-serif;

// Default style
*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
:focus {
  outline: none;
}

// Container
.container {
  max-width: 1440px;
  padding: 20px 100px;
  margin: 0 auto;
}

// Button
.light_btn {
  font-weight: 600;
  cursor: pointer;
  transition: 200ms linear;
  padding: 12px 30px;
  border: 1px solid white;
  color: white;
  background: transparent;
  padding-top: 16px;
  &:hover {
    color: black;
    background: #fff;
  }
  &:active {
    background: transparent;
    border: 1px solid $color-gray;
    color: $color-gray;
  }
}
.dark_btn {
  font-weight: 600;
  cursor: pointer;
  transition: 200ms linear;
  padding: 12px 30px;
  border: 1px solid black;
  color: black;
  background: transparent;
  padding-top: 16px;
  &:hover {
    color: white;
    background: #000;
  }
  &:active {
    background: transparent;
    border: 1px solid $color-gray;
    color: $color-gray;
  }
}

// Body

body {
  font-family: $ff;
  background: #fff;
  color: $color-beaver;
}

// Header
.header {
  background: $color-cod;
  padding-bottom: 120px;
  .container {
    width: 100%;
    display: flex;
    justify-content: start;
  }
}

// Home
.home {
  background: $color-cod;
  .container {
    height: 650px;
    display: flex;
  }
  .left {
    height: 400px;
    color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 50px;
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        font-size: 6rem;
        font-weight: 100;
        line-height: 6rem;
        margin: 0;
        padding: 0;
      }
      p {
        margin: 0;
        padding: 0;
        font-size: 1.8rem;
        font-weight: 100;
      }
    }
  }
  .right {
    padding-bottom: 200px;
    color: #000;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    background: url("../pic/Bitmap.png") no-repeat center/cover;
    gap: 20px;
    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 120px;
      height: 110px;
      background: #fff;
      h2 {
        font-size: 3rem;
        font-weight: 300;
      }
      p {
        font-size: 10px;
      }
    }
  }
}

// Enjoy
.enjoy {
  color: $color-cod;
  display: flex;
  flex-direction: column;
  .first {
    position: relative;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    &-img {
      width: 540px;
      height: 720px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4),
        0 4px 6px -2px rgba(0, 0, 0, 0.2);
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: 50px;
      img {
        width: 120px;
        margin-bottom: 40px;
      }
      h2 {
        font-size: 4rem;
        max-width: 500px;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: 300;
      }
    }
  }
  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    position: relative;
    bottom: -80px;
    &-img {
      width: 540px;
      height: 720px;
      box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.3),
        0 4px 6px -2px rgba(255, 255, 255, 0.1);
    }
    .title {
      display: flex;
      flex-direction: column;
      gap: 50px;
      img {
        width: 120px;
        margin-bottom: 40px;
      }
      h2 {
        font-size: 4rem;
        max-width: 500px;
      }
      p {
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: 300;
      }
    }
  }
}

// Slider
.slider {
  background: $color-cod;
  .container {
    display: flex;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 250px;
    justify-content: space-between;
    color: #fff;
    .left {
      display: flex;
      flex-direction: column;
      gap: 50px;
      img {
        width: 120px;
        margin-bottom: 40px;
      }
      h2 {
        font-size: 4rem;
        max-width: 500px;
      }
      p {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 300;
        max-width: 500px;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 60px;
      .slide {
        display: flex;
        position: relative;
        &-img {
          width: 430px;
          height: 330px;
        }
        button {
          padding: 0 30px;
          background: $color-cod;
          border: none;
          cursor: pointer;
          &:active {
            scale: 95%;
          }
        }
      }
      .title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 110px;
        h3 {
          font-weight: 600;
          font-size: 32px;
        }
        p {
          font-weight: 300;
          max-width: 350px;
          line-height: 1.4rem;
        }
      }
    }
  }
}

// Family
.family {
  display: flex;
  margin: 120px 0;
  align-items: center;
  justify-content: center;
  gap: 120px;
  .title {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    .first {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: $color-cod;
      h2 {
        font-weight: 600;
        font-size: 42px;
      }
      p {
        font-size: 1.2rem;
        font-weight: 300;
        max-width: 400px;
        line-height: 1.6rem;
      }
    }
    .second {
      display: flex;
      flex-direction: column;
      color: $color-cod;
      gap: 20px;
      letter-spacing: 3px;
      .li_1 {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 85%;
        position: relative;
        left: -100px;
        img {
          position: relative;
          left: -20px;
        }
      }
      .li_2 {
        opacity: 70%;
        position: relative;
        left: -20px;
      }
      .li_3 {
        opacity: 40%;
        position: relative;
        left: -30px;
      }
    }
  }
}

// Footer cont
.footer_cont {
  background: url("../pic/Bitmap_6.png") no-repeat center/cover;
  padding-top: 80px;
  padding-bottom: 80px;
  .container {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 3rem;
      color: #fff;
    }
  }
}

// Footer
.footer {
  background: $color-cod;
  .container {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-between;
    color: #fff;
    .title {
      display: flex;
      flex-direction: column;
      gap: 15px;
      li {
        font-weight: 100;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        opacity: 80%;
      }
    }
  }
}

// Media responsive
@media (max-width: 1150px) {
  .home {
    .container {
      flex-direction: column;
      height: 100%;
      gap: 200px;
      padding-bottom: 200px;
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 65px 0;
      }
    }
  }
  .first {
    flex-direction: column;
  }
  .second {
    flex-direction: column;
  }
  .slider {
    .container {
      flex-direction: column;
      gap: 150px;
      text-align: center;
      .right {
        .title {
          padding-left: 0;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .family {
    flex-direction: column;
    .second {
      .li_1 {
        padding-left: 100px;
        img {
          display: none;
        }
      }
    }
  }
  .footer_cont {
    .container {
      flex-direction: column;
      gap: 50px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}
@media (max-width: 800px) {
  .container {
    padding: 10px 20px;
  }
}
@media (max-width: 650px) {
  .container {
    padding: 0;
  }
  .header {
    padding-top: 30px;
    padding-left: 30px;
  }
  .home {
    .container {
      .left {
        div {
          h1 {
            font-size: 3rem;
          }
          p {
            font-size: 1.4rem;
            max-width: 400px;
          }
        }
      }
    }
  }
  .title {
    h2 {
      font-size: 2rem;
    }
  }
}

// --------------------------------------- book.html ---------------------------------------
.book {
  background: url("../pic/bg.png") no-repeat center/cover;
  .container {
    padding-top: 20px;
    padding-bottom: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    .left {
      img {
        margin-bottom: 200px;
      }
      .title {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #fff;
        h2 {
          font-weight: 300;
          font-size: 4.8rem;
        }
        p {
          font-size: 1.3rem;
          font-weight: 300;
          max-width: 450px;
          line-height: 1.6rem;
        }
      }
    }
    .right {
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      background: #fff;
      width: 50%;
      height: 100%;
      padding: 65px;
      input {
        border: none;
        border-bottom: 1px solid $color-gray;
        font-size: 20px;
        padding: 20px;
        margin-top: 20px;
        &::placeholder {
          padding: 0 10px;
        }
      }
      .error {
        border-bottom: 1px solid red;
        color: red;
        &::placeholder {
          color: red;
        }
      }

      .date {
        display: flex;
        gap: 50px;
        align-items: center;
        span {
          color: $color-cod;
          font-size: 18px;
          margin-top: 25px;
        }
      }
      .count {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0;
        border-bottom: 1px solid $color-cod;
        padding: 0 30px;
        padding-bottom: 15px;
        button {
          border: none;
          font-size: 2rem;
          cursor: pointer;
          &:active {
            scale: 95%;
          }
        }
        p {
          color: $color-cod;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}

// Media responsive
@media (max-width: 1280px) {
  .book {
    .container {
      flex-direction: column;
      width: 100%;
      .right {
        width: 100%;
      }
      .left {
        width: 100%;
      }
    }
  }
}
@media (max-width: 800px) {
  .book {
    .container {
      .right {
        .date {
          gap: 10px;
        }
      }
    }
  }
  .footer {
    font-size: 10px;
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
      .title {
        gap: 5px;
      }
    }
  }
}
@media (max-width: 700px) {
  .book {
    .container {
      padding: 20px;
    }
  }
  .footer {
    .container {
      padding: 40px 20px;
    }
  }
}
@media (max-width: 530px) {
  .book {
    .container {
      gap: 2px;
      padding: 0;
      .right {
        padding: 25px;
      }
      .left {
        .title {
          h2 {
            font-size: 3.2rem;
          }
          p {
            font-size: 1rem;
            max-width: 350px;
          }
        }
        a {
          img {
            padding: 30px;
          }
        }
      }
    }
  }
  .footer {
    .container {
      flex-direction: column;
      gap: 40px;
      font-size: 20px;
      align-items: center;
      .title {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
